<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<title>IFEventos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 
'unsafe-inline' *">
	<link rel="stylesheet" href="ionic/css/style.css">
	<link href="ionicons/css/ionicons.min.css">
	<link href="ionic/release/css/ionic.css" rel="stylesheet">
	<script src="ionic/release/js/ionic.bundle.min.js"></script>
	<!--<script src="js/config/config-route.js"></script>-->
  <script src="ionic/js/index.js"></script>
  <!--<script src="js/app.js"></script>-->
  <script src="js/angular/angular.min.js"> </script>
  <script src="js/angular/angular-route.js"> </script>
	<script src="js/service/eventoService.js"> </script>
	<script src="js/controllers/eventoController.js"></script>
	<script src="js/controllers/organizadorController.js"></script>
	<script src="js/controllers/detalhesMapaController.js"></script>
	<script src="js/controllers/mapaController.js"></script>
  <script src="js/controllers/noticiaController.js"></script>
	<script src="js/controllers/programacaoController.js"></script>
	<script src="js/controllers/palestranteController.js"></script>
  <script src="js/value/configValue.js"></script>

</head>

<body>

	<ion-nav-view></ion-nav-view>
  
	<!-- Menu side -->
	<script id="templates/event-menu.html" type="text/ng-template">
        <ion-side-menus enable-menu-with-back-views="false">
          <ion-side-menu-content>
            <ion-nav-bar class="bar-balanced">
              <ion-nav-back-button>
              </ion-nav-back-button>

           <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                 </ion-nav-buttons> 
            </ion-nav-bar>

           <ion-nav-view name="menuContent"></ion-nav-view>
          </ion-side-menu-content> 

          <ion-side-menu side="left">
            <ion-header-bar class="bar-balanced-dark">
              <h1 class="title">IFEventos</h1>
			</ion-header-bar>
			<ion-content>	
              <div class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on 
one of these links -->
                <a href="#/event/home" class="item" menu-close><i class="icon-left ion-home"> Home</i></a>
                <a href="#/event/pgmapa" class="item" menu-close><i class="icon-left ion-map">  Locais</i></a> 
                <a href="#/event/pgorganizador" class="item" menu-close><i class="icon-left ion-person-stalker">  Organizadores</i></a>
                <a href="#/event/palestrantes" class="item" menu-close><i class="icon-left ion-person">  Palestrantes</i></a>
                <a href="#/event/programacao/{{id}}" class="item" menu-close><i class="icon-left ion-calendar">  Programação</i></a>
              </div>
            </ion-content>
          </ion-side-menu>
        </ion-side-menus>
     </script>
	<!--  End side -->

	<script id="templates/listevento.html" type="text/ng-template">
	<ion-view >
	 <ion-header-bar class="bar-balanced">
		<h1 style="text-align:center" class="title">Evento</h1>
	  </ion-header-bar>   
	 <ion-content>
    <div id="searchEvento">
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="search" placeholder="Digite um evento">
		 </label>      
	  </div>
	  
	  <div class="list card" ng-repeat="evento in eventos | filter: search">
    
      <div class="item item-avatar" >
			<img src="http://ionicframework.com/img/docs/delorean.jpg">
			<h2>{{evento.nome}}</h2>
			<p>{{evento.dataInicio | date:'mediumDate'}} a {{evento.dataFim | date:'mediumDate'}}</p>
		  </div>
            
		  <div class="item item-body">
			<img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
			<p>
				<ul>
				  <li><i class="icon ion-clock"> {{evento.dataInicio | date:'HH:mm'}} a {{evento.dataFim | date:'HH:mm'}} (Horas)</i></li> <br/>
				  <li><i class="icon ion-home"> {{evento.local}}</i> </li> <br/>
				  <li><i class="icon ion-location"> {{evento.endereco.logradouro}}</i></li> <br/>
				  <li><i class="icon ion-android-globe"> {{evento.site}}</i></li> <br/>
			    </ul>
			</p>
			<p>
        <i class="icon ion-plus-circled"></i>
			  <a class="subdued" href="#/event/programacao/{{evento.id}}">  Detalhes</a> 
			</p>
		  </div>
		</div>
		
	 </ion-content>
	 </ion-view>
	</script>


	<!-- Página de notícias do evento -->
	<script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Notícias do Evento">   
            <ion-slide-box on-slide-changed="slideChanged(index)">
              <div ng-repeat = "programacao in listOrganizadores">
              <ion-slide style="position:absolute;">
                  <h4>{{programacao.organizador.nome}}
                  </h4>
                  <p> Em design gráfico e editoração, Lorem ipsum é um texto utilizado para preencher o espaço de texto em publicações (jornais, revistas, e websites), com a finalidade de verificar o lay-out, tipografia e formatação antes de utilizar conteúdo real. Muitas vezes este texto também é utilizado em catálogos de tipografia para demonstrar textos e títulos escritos com as fontes.[1] </p>
              </ion-slide>
              </div>
          </ion-slide-box> 
        </ion-view>
      </script>
	<!-- End page -->

	<!-- Página das informações do mapa-->
	<script id="templates/pgdetalhesmapa.html" type="text/ng-template">
        <ion-view view-title="Detalhes Mapa">
          <ion-content id="map" style="height:100%; width:100%">
          </ion-content>0
        </ion-view>
      </script>
	<!-- End page -->

	<!-- Página organizadores -->
	<script id="templates/pgorganizador.html" type="text/ng-template">
          <ion-view view-title="Organizadores">
            <ion-content>
              <div class="list" ng-repeat = "programacao in listOrganizadores">
                <div class="item item-thumbnail-left">
                <img src="ionicons/img_programacao/eu.png" style="width: 90px; height: 90px; float: left"/> <h2>Nome: {{programacao.organizador.nome}} </h2>
                <p>Contato: {{programacao.organizador.site}}</p>
                <p>Cargo: {{programacao.organizador.cargo}}</p>
                <p>Área: {{programacao.tipoOrganizador.descricao}}</p>
                </div>
              </div>
            </ion-content>
          </ion-view>
       </script>
	<!-- End page -->

	<!-- Página de palestrantes -->
	<script id="templates/palestrantes.html" type="text/ng-template">
        <ion-view view-title="Palestrantes">
          <ion-content>
            <ion-list>
              <div ng-repeat="programacao in programacoes">
                <div class="item item-avatar" ng-click="toggleShown(show)" ng-class="{active: isShown(show)}">
                    <img src="ionicons/img_programacao/eu.png"> 
                    <h2>{{programacao.palestrante.nome}}</h2>
                    <p>{{programacao.palestrante.titulo}}</p>
                </div>
                <div class="item item-accordion" ng-repeat="programacao in programacoes"ng-show="isShown(show)">
                      <p id="pa_resume" >{{programacao.palestrante.resumo}}.</p>
                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-view>
      </script>
	<!-- End page -->

	<!-- Página de programação -->
	<script id="templates/programacao.html" type="text/ng-template">
		<ion-view view-title="Programação" ng-init="loadProgramacao();" >
		 <ion-content>
		  <div class="list" ng-repeat="programacao in programacoes">
           <div class="item item-divider">
            <span id="pro_data">{{programacao.data | date: 'longDate'}}, {{programacao.data | date: 'hh:mm'}}h</span>
            </div>
           <a class="item item-thumbnail-left" href="#">
            <img id="tp_programacao" src="ionicons/img_programacao/music.png"><br/>
            <p id="pro_titulo">Título: {{programacao.palestrante.titulo}}</p>
            <p id="pro_nome">Nome: {{programacao.palestrante.nome}}</p>
            <p id="pro_local">Local: {{programacao.local}}</p> 
          </a>
         </div>
          </ion-content>
        </ion-view>
      </script>
	<!-- End page -->

	<!-- Página do mapa -->

	<script id="templates/pgmapa.html" type="text/ng-template">
<ion-view view-title="Locais">
          <ion-content>
           <div class="list" ng-repeat="local in mapas">   
           <a class="item item-icon-left" href="#/event/pgdetalhesmapa/{{local.id}}">
              <i class="icon ion-location"> </i>
               {{local.descricao}}
               <p>Latitude: {{local.latitude}}</p>
               <p>Longitude: {{local.longitude}}</p>
           </a>
           </div>
          </ion-content>
        </ion-view>
	 </ion-view>
	</script>
	<!-- End mapa -->
	</script>
	<!--NÃO ESQUECER DE OCULTAR ISSO!-->
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKJxFhDpJDTQtMvxF8mv1RJmC-ihOWU8o"></script>
</body>

</html>